@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root{
--font-family:'Bruno Ace SC',cursive;
  /* font-family: 'Montserrat Alternates', sans-serif; */
}


body{
background-color: rgb(15, 15, 51);
margin: 0px;
padding: 0px;
box-sizing: border-box;

}
*::selection{
background-color: rgb(162, 0, 0);

}

.fonts{
font-family: var(--font-family);
}

.spas{
letter-spacing: 2px !important;

}


.cursor-pointer{
  cursor: pointer;
}

a , a:hover{
color: black;
text-decoration: none;
}

.bg-nav{
background-color: rgb(15, 15, 52);
box-shadow: 0 0 10px black;
}

.color-font{
color: rgb(176, 170, 170) !important;
}
.logo-nav{

width: 50px !important;
height: 50px !important;
margin-right: 15px !important;
}

.logo-fot{
  width: 50px !important;
    height: 50px !important;
}

.btn-move:hover{
background: linear-gradient(45deg, white, rgb(15, 15, 52));
border: none !important;
transition: all 0.5s;

}

.btn-border{
border: 1px solid white !important;

margin-top: 10px !important;
}

.bg-alert{
  background-color: rgb(150, 63, 63) ;
  
}

.box-shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
}

.middle{
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%); */
}
.pos-1{
  position: relative;
}
.card{
  /* border-radius: 10px; */
cursor: pointer;
width: 200px;
height: 300px;
background-color: rgb(15, 15, 51);
}
.front ,.back{
width: 100%;
height: 100%;
overflow: hidden;
backface-visibility: hidden;
position: absolute;
transition: transform .6s linear ;
}

.front img{
height: 100%;
width: 100%;

}

.front{
transform: perspective(600px) rotateY(0deg);
}
.back{

background: #f1f1f1;
transform: perspective(600px) rotateY(180deg);
}

.back-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.sm{

  margin: 10px 0;
}
.sm a{

display: inline-flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
color: #2c3e50;
font-size: 18px;
transition: 0.4s;
border-radius: 50%;
}

.sm a:hover{
background-color: #2c3e50;
color: white;

}

.card:hover > .front{

transform: perspective(600px) rotateY(-180deg);
  
}
.card:hover > .back{

transform: perspective(600px) rotateY(0deg);

}

.overvies {

height: 200px !important;
/* background-color: blue; */
}

.trans{
transform: translateY(5%) ;

}

.titles{
width: 465px;
position: relative;
}

.titles::before{
  position: absolute;
  top: -10px;
content: '';
background-color: #2c3e50;
height: 3px;
width: 100px;

}
.titles::after{
  position: absolute;

content: '';
background-color: #2c3e40;
height: 3px;
width: 400px;
}

.movie-title{
margin-top: 85px !important;
}

.text-prg{
color: rgb(149, 149, 149);
font-family:cursive;
}

.img-cast{
width: 50px;
height: 50px;
margin: 25px;
}
.img-cast img {
width: 50px;
height: 50px;
}
.info-cast{
transform: translateY(45%);
}

.cast-films{
  height: 300px ;
}

.cast-films::-webkit-scrollbar{
  width: 10px;
background-color: rgb(15, 15, 51);
}
 .ttt li{
line-height: 50px;
 }

.fonts-siz{
font-size: 30px !important;
}
.tv-topp{
  width: 100%;
}


.icon-footer{
width: 30px;
height: 30px;
border-radius: 50%;
border: solid white 1px;
cursor: pointer;
margin: 20px 20px 0px 0px;
padding: 20px;
}

.icon-footer:hover{

background-color: #f1f1f1;
color: rgb(15, 15, 52);
transform: translateY(15%);
transition: all .5s;
}

.spas-fot{

  letter-spacing: 5px;
  font-weight: bold;
}

.wd-slid{
  width: 250px !important;
}

.smil-md{
  width: 200px !important;
}

@media screen and (main-width:601px) and  (max-width:901px) {
  

.cast-films {
  /* font-size: 18px !important; */
 height: 0px !important;

}
.cast-films{
  display: none !important;
}
.ttt li {
  font-size: 18px !important;

}
.ttt li span{
  font-size: 22px !important;

}

.card {

 width: 600px;

}
.trans-bt{
transform: translateX(-120px) !important;

}

}

 .active{

border-bottom: solid 1px white;
padding-bottom: 5px;
}


@media screen and (max-width:600px) {
.card{

width: 300px;
height:400px;
margin-left: 40px !important;
}

.md-crd{
width: 300px;
  height: 400px;
  margin-left: 80px !important;
}

.md-footer-link{

padding: 2px 2px !important;

margin: 2px !important;
font-size: 14px !important;
font-weight: bolder;
}
  
.md-slid {
 width:600px!important;
 height: 250px !important;


}

.ttt li{
font-size: 15px !important;
padding: 0px !important;

}
.ttt li span{
font-size: 11px !important;
/* padding: 1px  !important; */
margin: 2px !important;
padding: 2px !important;
font-weight:900;
}

.cast-films{
display: none !important;

}

.wd-slid{
width: 50px !important;

}

.bg-nav{
  width: 120% !important;
}
.slid-md{

margin-left: 50px;
}
.smil-md{
width: 60px !important;

}
.im-md{
  width: 430px !important;
}
}


